**/node_modules/
.DS_Store
unify-event-sources/config/auth.credentials.accessKeyID.txt
unify-event-sources/config/auth.credentials.secretAccessKey.txt
unify-event-sources/config/bootstrap.servers.txt
unify-event-sources/config/sqs.arn.txt
asyncAPI/serviceaccountkey.json
asyncAPI/package-lock.json
asyncAPI/package.json
salesforce-and-redpanda/triggermesh/backup/salesforce-cert-secret-triggermesh-backup.yaml
salesforce-and-redpanda/triggermesh/backup/salesforce-source-triggermesh-backup.yaml
salesforce-and-redpanda/triggermesh/salesforce-cert-secret.yaml
salesforce-and-redpanda/triggermesh/tm-sf.crt
salesforce-and-redpanda/triggermesh/tm-sf.key
